html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font: 22px/27px "0xa000", courier, monospace;
  color: cyan;
	text-align:center;
	padding:10vh 0;
  background: #000;
}
.make {
  margin: 10vh auto 10vh auto;
  max-width: 800px;
  width:100%;
}
input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.input {
  display: block;
  width: 100%;
  height: 40px;
  margin: 2px 0 20px 0;
  font-weight: 500;
	padding:0 4px;
  color:black;
  background: cyan;
  border: 0;
}
.input:focus {
  border-color: cyan;
  outline: 0;
}
.button {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  font-size: inherit;
  font-weight: bold;
  color: black;
  text-align: center;
  background: cyan;
  border:0;
  text-transform:uppercase;
}
.button.download {
  padding:25px 0 12px 0;
  margin:20px 0;
}
.button:focus {
  outline: 0;
  background:white;
}
.switch {
  height: 40px;
  margin-bottom: 20px;
  padding: 0px;
  background: #222;
}
.switch-input {
  display: none;
}
.switch-label {
  float: left;
  width: 50%;
  line-height: 40px;
  color: cyan;
  text-align: center;
  cursor: pointer;
}
.c3 .switch-label {
	width: 33%;
}
.c4 .switch-label {
	width: 25%;
}
.switch-input:checked + .switch-label {
  font-weight: 500;
  color: #000;
  background: cyan;
}
h1{
  margin:0 0 20px;
  text-transform:uppercase;
}
p{
  font-size:inherit;
}
a{
	color:cyan;
	text-decoration:none;
}
:-moz-placeholder {
  color: #000000;
  font-weight: 300;
}
::-moz-placeholder {
  color: #000000;
  font-weight: 300;
  opacity: .3;
}
::-webkit-input-placeholder {
  color: #000000;
  font-weight: 300;
  opacity:.3;
}
:-ms-input-placeholder {
  color: #000000;
  font-weight: 300;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
